@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.product--container {
  margin: 3% 30% 0 30%;
}

.product--container h1 {
  color: #292929;
  font-family: Barlow;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 29.438px; /* 133.81% */
}

.info--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price--tag {
  display: flex;
  width: 106px;
  height: 37px;
  flex-direction: column;
  justify-content: center;
  color: #292929;
  font-family: Barlow;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 37.467px; /* 133.81% */
}

.rating {
  color: #5f5f5f;
  text-align: right;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 180% */
}

.form--heading {
    color: #292929;
    font-family: Barlow;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24.762px; /* 123.809% */
}

.pizza--info--text {
    color: #5F5F5F;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px; /* 180% */
}
