.homepage--categories--container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 110px;
    padding: 20px;
}

.category{
    display:flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
}

.category:hover{
    display:flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    opacity: 0.8;
}